node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.env
.idea/
.gradle/
build/
app/
gradle/
gradlew
gradlew.bat
build.gradle.kts
gradle.properties
settings.gradle.kts
local.properties
